/* 
ADJUSTING CSS BELOW IS NOT NECESSARY
You may choose to practice css by making changes to visuals
*/

html {
    
}

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #3d2514;
    background-image: url(../img/burger-bg.png);
    background-repeat: repeat;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0 0 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: normal;
}
    
a, 
a:focus, 
a:hover {
    text-decoration: none;
}

header {
    background-color: #ffc045;
    padding: 20px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

section {
    padding: 20px 0;
    text-align: center;
}

.logo {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2.25rem;
    font-weight: 700;
    margin: 0;
}

.button {
    background-color: #bf2222;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    padding: 16px 40px;
    line-height: normal;
    display: inline-block;
}

.button:hover {
    color:#fff;
    background-color:#ffc045;
}

.form-field {
    box-shadow: none;
    color: #3d3d3d;
    border-color: #bebebe;
    font-size: 0.75rem;
    background-color: #ffffff;
    padding: 10px;
}

footer {
    margin-top: 20px;
    padding: 30px 0;
    background-color: #3d2514;
    color: #ffffff;
}


/* 

ELEMENTS THAT NEED FONT SIZING OR LAYOUT APPLIED

- Utilize em, rem to control responsive font sizing for any typography
- Flexbox and/or CSS Grid to control layout for at least one of the following sections: Hero, Menu, Features or Footer

*/

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.section-title {
    font-weight: 500;
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    color: #3d2514;
    margin-bottom: 10px;
    text-align: center;
}

.section-subtitle {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 28px;
    text-align: center;
}

/* Hero */

.hero {

}

.hero-item {
    
}

.hero-left {

}

.hero-right {

}

.hero-right img {
    height: 260px;
}

.hero-title {
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    text-shadow: 4px 5px #fee7ba;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 3rem;
    padding: 5px 10px;
}

.hero-subtitle {
    font-weight: 500;
    font-size: 1.25rem;
    padding: 20px;
}

/* Menu */

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-item {
    background-color: rgba(255, 192, 69, 0.8);
    margin: 10px 0;
}

.menu-item img {
    width: 90%;
}

.menu-burger {
    font-size: 1.75rem;
    padding: 15px 0;
}

.menu-description {
    font-size: 1rem;
    width: 90%;
    margin: 0 auto;
}

.price {
    background-color: #bf2222;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    padding: 16px 40px;
    margin-bottom: 40px;
    line-height: normal;
    display: inline-block;
}

/* Features */

.features {

}

.features h3 {
    font-size: 1.5rem;
}

.features p {
    font-size: 1rem;
}

.features-item {

}


/* Footer Styles */
.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-item {
    margin: 10px 0;
    text-align: center;
    font-size: 1rem;
    line-height: 1.2rem;
    width: 90%;
}

.footer-item h2 {
    font-size: 1.5rem;
}


/* 
ADD MEDIA QUERIES BELOW 

- Must adjust at least one element for 4 breakpoints

*/

/* Mobile Landscape Breakpoint */
@media screen and (min-width: 568px) {

    .menu-item {
        width: 100%;
    }

    .features {
        display: flex;
        flex-direction: row;
    }

    .features-item {
        padding: 20px;
    }
}

@media screen and (min-width: 768px) {
    .hero {
        display: flex;
        width: 90%;
        justify-content: center;
    }

    .hero-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 15px;
    }

    .hero-title {
        font-size: 2rem;
        margin: 10px;
        padding: 0;
    }

    .hero-subtitle {
        margin: 10px;
        padding: 0;
        font-size: 1.12rem;
    }

    .hero-right {
        flex-grow: 1;
        align-content: center;
        padding: 0;
        margin: 0;
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .footer-item{
        width: 25%;
    }

    .footer-item h4 {
        font-size: 1.2rem;
    }

    .footer-item p {
        font-size: 1rem;
    }

    .footer-text {
        flex-grow: 2;
    }
}

/* Desktop breakpoint */
@media screen and (min-width: 1024px) {

    .hero {
        display: flex;
        width: 90%;
        justify-content: center;
    }

    .hero-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 15px;
    }

    .hero-title {
        font-size: 2rem;
        margin: 10px;
        padding: 0;
    }

    .hero-subtitle {
        margin: 10px;
        padding: 0;
        font-size: 1.12rem;
    }

    .hero-right {
        flex-grow: 1;
        align-content: center;
        padding: 0;
        margin: 0;
    }

    .section-title {
        font-size: 3.125rem;
    }

    .section-subtitle {
        font-size: 2rem;
    }

    .menu {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .menu-item {
        width: 45%;
        margin: 5px;
    }

    .menu-burger {
        font-size: 1.75rem;
        margin: 0;
    }

    .menu-description {
        width: 90%;
        margin: 0 auto;
    }

    .price {
        font-size: 1rem;
        margin: 25px 0;
    }

    .features {
        display: flex;
        justify-content: space-between;
    }

    .features-item {
        padding: 25px;
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .footer-item{
        width: 25%;
    }

    .footer-item h4 {
        font-size: 1.2rem;
    }

    .footer-item p {
        font-size: 1rem;
    }

    .footer-text {
        flex-grow: 2;
    }

    @media screen and (min-width: 1200px) {
        body {
            max-width: 1200px;
            margin: 0 auto;
        }
    }
}